.icon {
  font-size: 3rem;
  vertical-align: middle;
  text-align: center;
}

.category {
  height: 100%;
  padding: 5px;
  background-color: #f79c52;
}

.card {
  padding-top: 6px;
  /* border-left: 1px solid white;
    border-right: 1px solid white; */
}

/* cate.module.css */

.card {
  text-align: center;
}

.card .icon {
  /* Styles for the icon */
  font-size: 3rem;
  margin-bottom: 10px;
}

.card .label {
  /* Styles for the label text */
  font-size: 16px;
  color: #333;
}

@media only screen and (max-width: 768px) {
  .card .icon {
    font-size: 2rem;
  }

  .card .label {
    font-size: 10px;
  }
}

@media only screen and (max-width: 576px) {
  .card .icon {
    font-size: 1.2rem;
  }

  .card .label {
    font-size: 8.5px;
  }
}
